img {
    width: 50px;
    height: 50px;
}
#imageContainer {
    /* position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px; */
    display: grid;
}

.image-item {
    margin-top: -4px;
    background-color: white;
}
