img {
    width: 50px;
    height: 50px;
}

#imageContainer {
    display: grid;
}
.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-item {
    margin-top: -4px;
    background-color: transparent;
}